.about {
	background-color: #fff;

	.about-content {
		display: flex;
		justify-content: space-between;
		gap: 60px;
		font-family: "Open Sans", sans-serif;

		.history-block{
			width: 55%;

			.title {
				margin-bottom: 30px;
				color: #111;
			}

			.history-item {
				margin-bottom: 42px;
				display: flex;
				align-items: center;
				gap: 48px;
				color: #111;

				&:last-child {
					margin-bottom: 0;
				}

				.year-item {
					display: block;
					flex-shrink: 0;
					font-size: 21px;
					font-weight: bold;
					line-height: 1.5;
					letter-spacing: 1px;
				}

				.history-description {
					width: 430px;
					font-size: 16px;
					line-height: 1.3;
					letter-spacing: 0.7px;
				}
			}
		}

		.expertise-block {
			width: 45%;

			.title {
				margin-bottom: 25px;
				color: #111;
			}

			.expertise-description {
				font-size: 14px;
				line-height: 2.21;
				letter-spacing: 0.6px;
				color: #666;
			}
		}
	}
}