.about {
	background-color: #fff;

	.about-content {
		padding: 70px 0 0 0;
		justify-content: space-between;
		display: flex;
		margin: 0px 0px 0px 0px;
		height: 243px;
		width: 1088px;
		font-family: "Open Sans", sans-serif;

		.history-block{
			width: 560px;

			.title {
				padding: 0 0 30px;
				color: #111;
			}

			.history-list {
				display: block;

				.history-item {
					display: flex;
					color: #111;

					.year-item {
						width: 69px;
						height: 15px;
						font-size: 21px;
						font-weight: bold;
						line-height: 1.48;
						letter-spacing: 0.84px;
						text-align: left;
					}

					.history-description-1 {
						width: 430px;
						padding: 0 0 40px 30px;
						font-size: 16px;
						line-height: 1.31;
						letter-spacing: 0.64px;
						text-align: left;
					}

					.history-description-2 {
						width: 449px;
						padding: 0 0 30px 30px;
						font-size: 16px;
						line-height: 1.31;
						letter-spacing: 0.64px;
						text-align: left;
					}

					.history-description-3 {
						width: 430px;
						padding: 0 0 0 30px;
						font-size: 16px;
						line-height: 1.31;
						letter-spacing: 0.64px;
						text-align: left;
					}
				}
			}
		}

		.expertise-block {
			width: 488px;
			height: 225px;

			.title {
				padding: 0 0 25px;
				color: #111;
			}

			.expertise-description {
				font-size: 14px;
				line-height: 2.21;
				letter-spacing: 0.56px;
				text-align: left;
				color: #666;
			}
		}
	}
}