.asked {
	background-color: #111;

	.title {
		color: #fff;
	}

	.aside-cognitive {
		width: 500px;
		border-radius: 3px;
		box-shadow: 0px 12px 40px 0 rgba(216, 178, 87, 0.32);
		background-color: #e8bf5d;

		.asked-description {
			padding: 46px 47px 66px 47px;
			font-family: "Open Sans", sans-serif;
			font-size: 14px;
			line-height: 2.2;
			letter-spacing: 0.6px;
			color: #111;
		}
	}			
}