.asked {
	height: 748px;
	background-color: #111;

		.title {
			color: #fff;
		}

	.container {
		background-color: #111;

		.popover {

			&:after {
				color: #fff;
			}

			.title-badge {
				color: #fff;
			}

			.description {
				color: #b9b9b9;
			}
		}

		.aside-cognitive {
			margin: 95px 0;
			width: 500px;
			height: 281px;
			border-radius: 3px;
			box-shadow: 0px 12px 40px 0 rgba(216, 178, 87, 0.32);
			background-color: #e8bf5d;

			.asked-description {
				padding: 46px 0 0 47px;
				width: 406px;
				height: 175px;
				font-size: 14px;
				line-height: 2.21;
				letter-spacing: 0.56px;
				text-align: left;
				font-family: "Open Sans", sans-serif;
				color: #111;
			}
		}
	}			
}