.clients{
	background: url(../../img/stock_photo.png) center/cover no-repeat, #111;

	.reviews {
		margin-bottom: 75px;
		display: flex;
		gap: 100px;

		.cover-client {
			position: relative;
			width: 35.5%;
			height: 305px;
			z-index: 0;

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 20px;
				bottom: -20px;
				top: 20px;
				right: -20px;
				background-color: #e8bf5d;
				z-index: -1;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.quote-block {
			margin-top: 22px;
			width: 64.5%;
			opacity: 0.8;

			.info-description {
				display: block;
				margin-bottom: 39px;
				position: relative;
				font-family: "Open Sans", sans-serif;
			  	font-size: 14px;
				line-height: 2.2;
				letter-spacing: 0.6px;
				color: #fff;

				&:before {
					content: "";
					position: absolute;
					left: -44px;
					width: 30px;
					height: 25px;
					transform: translateY(-15%);
					background:no-repeat center/cover url(../../img/invalid-log.png);
				}
			}

			.author {
				.name-client {
					font-family: "Playfair Display", sans-serif;
					font-size: 21px;
					line-height: 1.5;
					letter-spacing: 0.8px;
					color: #fff;
				}

				.client-position {
					font-family: "Open Sans", sans-serif;
					font-size: 14px;
					line-height: 1.7;
				    letter-spacing: 0.6px;
				    color: #fff;
				}
			}	
		}
	}	
}