.contact {
	height: 1008px;

	.popover {
		margin-bottom: 70px;
	}

	.legend {
		display: flex;
		margin-left: 151px;
		width: 870px;
		height: 490px;
		box-shadow: 0 0 50px #faf9f7;

		.send-contact {
			display: block;
			width: 351px;
			height: 345px;
			margin: 55px 0 0 49px;

			.field {
				margin-bottom: 35px;
				width: 350px;
				font-size: 14px;
				font-style: italic;
				line-height: 2.21;
				letter-spacing: 0.56px;
				text-align: left;
				border: none;
				outline: none;
				border-bottom: 1px solid #b9b9b9;
				font-family: "Open Sans", sans-serif;
				color: #b9b9b9;
			}

			textarea {
					height: 83px;
				}
		}

		.map {
			position: relative;
			margin: 33px 0 0 70px;
			width: 387px;
			height: 385px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: -20px;
				bottom: -20px;
				top: 20px;
				right: 20px;
				background-color: #e8bf5d;
				z-index: -1;
			}

			iframe {
				width: 100%;
				height: 100%;
				border: none;
			} 
		}
	}		
}