.main-header {
	padding: 38px 0 34px;
	background-color: #fff;

	.wrapper-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.main-logo {
			width: 168px;
			font-family: "Playfair Display", sans-serif;
			font-size: 25px;
			font-weight: bold;
			line-height: 2;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #111;

			span {
				color: #e8bf5d;
			}
		}

		.navigation {
			display: flex;
			gap: 40px;

			.nav-item {
				position: relative;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				font-weight: 500;
				line-height: 3;
  				letter-spacing: 0.6px;
				text-transform: uppercase;
				color: #111;

				&:hover { 
    				&:after {
    					content: '';
    					display: block;
    					position: absolute;
    					bottom: 0;
    					left: 0;
    					right: 0;
    					height: 5px;
    					background-color:  #e8bf5d;
    				}
    			}	
			}
		}	
	}	
}