.hero {
  height: calc(100vh - 117px);
  background: linear-gradient(0deg, rgba(5,1,1,0.8687850140056023) 2%, rgba(255,255,255,0) 80%), url(../../img/A.S.big.png) center / cover no-repeat;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
  }

 .wrapper {
    padding: 0 40px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user {
      padding: 0 16px;
      border-left: 3px solid #e8bf5d;
      color: #fff;
 
      .user-name {
        font-family: "Playfair Display", sans-serif;
        font-size: 65px;
        letter-spacing: 2.5px;
        line-height: 0.7;
      }

      .position {
        font-family: "Open Sans", sans-serif;
        font-size: 31px;
        letter-spacing: 1.24px;
        line-height: 2;
      }
    }
  }
}