.practis {
	height: 748px;
	background-color: #111;

		.title {
			color: #fff;
		}

	.container {
		background-color: #111;

		.popover {

			&:after {
				color: #fff;
			}

			.title-badge {
				color: #fff;
			}

			.description {
				color: #b9b9b9;
			}
		}

		.service-block {
		margin: 0 auto;
		width: 1007px;
   	 	height: 355px;
		padding: 101px 0 0 110px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 72px;
    	column-gap: 115px;
		justify-content: center;

			.service-grid {
				display: flex;
				width: 446px;
				height: 138px;

				img {
					margin: 8px 0;
					height: 100%;
					width: auto;	
				}

				.logo-service {
					width: 58px;
					height: 38px;
				}

				.logo-labour {
					width: 42px;
					height: 42px;
				}

				.logo-cyber {
					padding-left: 10px;
					width: 49px;
					height: 43px;
				}

				.logo-estate {
					width: 42px;
					height: 33px;
				}

				.services {
					margin-left: 28px;

					.title {
						color: #fff;
					}

					.service-description {
						padding: 13px 0 28px;
						font-size: 14px;
						line-height: 2.21;
						letter-spacing: 0.56px;
					    text-align: left;
						font-family: "Open Sans", sans-serif;
						color: #fff;
					}
				}	
			}
		}				
	}	
}