.practis {
	background-color: #111;

	.popover {
		margin-bottom: 100px;

		.title {
			color: #fff;
		}
	}

	.service-list {
		padding-left: 110px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 72px;
		column-gap: 115px;

		.service-item {
			display: flex;
			justify-content: end;
			gap: 30px;

			img {
				height: 100%;
				width: auto;	
			}

			.logo-service {
				width: 58px;
				height: 38px;
			}

			.logo-labour {
				width: 42px;
				height: 42px;
			}

			.logo-cyber {
				width: 55px;
				height: 43px;
			}

			.logo-estate {
				margin: 0 auto;
				width: 42px;
				height: 33px;
			}

			.services {
				width: 83%;

				.title {
					margin-bottom: 28px;
					color: #fff;
				}

				.service-description {
					font-family: "Open Sans", sans-serif;
					font-size: 14px;
					line-height: 1.8;
					letter-spacing: 0.6px;
					color: #fff;
				}
			}	
		}
	}					
}