.public {

	.article-block {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		.post-public {
			padding-bottom: 21px;
			border-bottom: 3px solid #e8bf5d;

			.cover-public {
				margin-bottom: 30px;
				height: 300px;

				img {
					width: auto;
					height: 100%;
				}
			}

			.title-public {
				font-family: "Playfair Display", sans-serif;
				font-size: 21px;
				line-height: 1.5;
				letter-spacing: 0.9px;
				color: #111;
			}

			.about-autor {
				margin-bottom: 38px;
				font-family: "Open Sans", sans-serif;
				font-size: 16px;
				line-height: 1.5;
				letter-spacing: 0.65px;
				color: #111;

				.by {
					font-style: italic;
					color: #666;
				}

				.date {
					float: right;
					font-style: italic;
					color: #666;
				}
			}

			.public-description {
				margin-bottom: 29px;
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				line-height: 2.2;
				letter-spacing: 0.56px;
				color: #666;
			}

			.action-buttons {
				display: flex;
				justify-content: space-between;

				.btn-comment {
					position: relative;
					margin-left: 25px;
					font-family: "Open Sans", sans-serif;
					font-size: 16px;
					line-height: 1.95;
					letter-spacing: 0.7px;
					color: #111;
					cursor: pointer;
					background-color: white;

					&:before {
						content: '';
						position: absolute;
						width: 20px;
						height: 16px;
						top: 10px;
						transform: translateX(-150%);
						background:no-repeat center / cover url(../../img/comments-solid.svg);
					}
				}

				.btn-share {
					position: relative;
					font-family: "Open Sans", sans-serif;
					font-size: 16px;
					line-height: 1.95;
					letter-spacing: 0.7px;
					color: #111;
					cursor: pointer;
					background-color: white;

					&:before {
						content: '';
						position: absolute;
						width: 16px;
						height: 16px;
						top: 10px;
						transform: translateX(-150%);
						background:no-repeat center / cover url(../../img/share-solid.svg);
					}
				}
			}
		}
	}
}	
