.team {
	background-color: #fff;

	.team-list {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		.member-item{
			width: 25%;

			.cover {
				height: 300px;
				margin-bottom: 29px;

				img {
					width: 100%;
					height: auto;
				}
			}

			.member-name {
				margin-bottom: 20px;
				font-family: "Playfair Display", sans-serif;
				font-size: 21px;
				font-weight: 500;
				line-height: 1.7px;
				letter-spacing: 0.85px;
				color: #111;
			}

			.member-position {
				font-family: "Open Sans", sans-serif;
				font-size: 14px;
				line-height: 1.7;
				letter-spacing: 0.6px;
				color: #666;
			}
		}	
	}
}
