@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;500;800&display=swap');

body {
	margin: 0 auto 0 auto;
	counter-reset: section;
}

section {
	padding: 100px 0;
}

footer {
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 1170px;
}

.main-btn {
	display: block;
	padding: 19px 46px;
	font-family: "Playfair Display", sans-serif;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.65px;
	color: #111;
	border-radius: 27px;
	border: none;
	cursor: pointer;
	background-color: #e8bf5d;
}

.popover {
	margin-bottom: 70px;
	padding-left: 19px;
	position: relative;
	height: 105px;
	width: 783px;
	border-left: 3px solid #e8bf5d;

	&.popover-othe {
		&:after {
			color: #fff;
		}

		.title-badge {
			color: #fff;
		}

		.description {
			color: #b9b9b9;
		}
	}

	&:after{
		counter-increment: section;
		content: "0" counter(section) " ";
		position: absolute;
		left: 0;
		font-family: "Open Sans", sans-serif;
		font-size: 195px;
		letter-spacing: 7.8px;
		line-height: 2.2;
		opacity: 0.05;
		transform: translateY(-65%);
		color: #111;
	}

	.title-badge {
		padding-bottom: 19px;
		font-family: "Playfair Display", sans-serif;
		font-size: 31px;
		font-weight: 500;
		letter-spacing: 1.2px;
		color: #111;
	}

	.description {
		font-family: "Playfair Display", sans-serif;
		font-size: 21px;
		line-height: 1.5;
		letter-spacing: 0.9px;
		color: #666;
	}
}

.title {
	font-family: "Playfair Display", sans-serif;
	font-size: 21px;
	line-height: 1.5;
    letter-spacing: 0.9px;
	font-weight: 500;
}