@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;500;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 auto 0 auto;
  counter-reset: section;
}

section {
  margin: 0 auto;
}

footer {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 81px;
  width: 1169px;
}

.main-btn {
  display: block;
  width: 181px;
  height: 50px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  color: #111;
  font-weight: bold;
  background-color: #e8bf5d;
  line-height: 1.94;
  letter-spacing: 0.64px;
  font-family: "Playfair Display", sans-serif;
  cursor: pointer;
}

.popover {
  padding: 0 0 0 19px;
  position: relative;
  height: 105px;
  width: 783px;
  border-left: 3px solid #e8bf5d;
}
.popover:after {
  counter-increment: section;
  content: "0" counter(section) " ";
  position: absolute;
  left: 0px;
  font-size: 194.5px;
  letter-spacing: 7.78px;
  line-height: 2.22;
  text-align: left;
  opacity: 0.05;
  transform: translateY(-65%);
  font-family: "Open Sans", sans-serif;
  color: #111;
}
.popover .title-badge {
  padding: 0 0 19px;
  font-size: 31px;
  letter-spacing: 1.24px;
  text-align: left;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
  color: #111;
}
.popover .description {
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  font-family: "Playfair Display", sans-serif;
  color: #666;
}

.title {
  line-height: 1.48;
  letter-spacing: 0.84px;
  font-size: 21px;
  text-align: left;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
}

.main-header {
  padding: 38px 0 34px;
  margin: 0 auto;
  background-color: #fff;
}
.main-header .container {
  padding: 0 0 0;
}
.main-header .container .wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .container .wrapper-header .main-logo {
  width: 168px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  font-family: "Playfair Display", sans-serif;
  color: #111;
}
.main-header .container .wrapper-header .main-logo span {
  color: #e8bf5d;
}
.main-header .container .wrapper-header .navigation {
  display: flex;
  gap: 40px;
}
.main-header .container .wrapper-header .navigation .nav-item {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 3.21;
  letter-spacing: 0.56px;
  text-align: right;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: #111;
}
.main-header .container .wrapper-header .navigation .nav-item:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #e8bf5d;
}

.hero {
  width: 1920px;
  height: 840px;
  background: url(../../img/A.S.big.png) center/cover no-repeat;
}
.hero .container {
  padding: 0 0 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(5, 1, 1, 0.868785014) 2%, rgba(255, 255, 255, 0) 80%);
}
.hero .container .wrapper {
  padding: 615px 0 0 505px;
  display: flex;
  width: 1443px;
  height: 85px;
}
.hero .container .wrapper .user {
  padding: 0 16px;
  display: block;
  border-left: 3px solid #e8bf5d;
  color: #fff;
}
.hero .container .wrapper .user .user-name {
  font-size: 65px;
  letter-spacing: 2.6px;
  line-height: 0.69;
  font-family: "Playfair Display", sans-serif;
}
.hero .container .wrapper .user .position {
  letter-spacing: 1.24px;
  line-height: 1.8;
  font-size: 31px;
  font-family: "Open Sans", sans-serif;
}
.hero .container .wrapper .main-btn {
  margin: 22px 0 0 327px;
}

.about {
  background-color: #fff;
}
.about .about-content {
  padding: 70px 0 0 0;
  justify-content: space-between;
  display: flex;
  margin: 0px 0px 0px 0px;
  height: 243px;
  width: 1088px;
  font-family: "Open Sans", sans-serif;
}
.about .about-content .history-block {
  width: 560px;
}
.about .about-content .history-block .title {
  padding: 0 0 30px;
  color: #111;
}
.about .about-content .history-block .history-list {
  display: block;
}
.about .about-content .history-block .history-list .history-item {
  display: flex;
  color: #111;
}
.about .about-content .history-block .history-list .history-item .year-item {
  width: 69px;
  height: 15px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
}
.about .about-content .history-block .history-list .history-item .history-description-1 {
  width: 430px;
  padding: 0 0 40px 30px;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.64px;
  text-align: left;
}
.about .about-content .history-block .history-list .history-item .history-description-2 {
  width: 449px;
  padding: 0 0 30px 30px;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.64px;
  text-align: left;
}
.about .about-content .history-block .history-list .history-item .history-description-3 {
  width: 430px;
  padding: 0 0 0 30px;
  font-size: 16px;
  line-height: 1.31;
  letter-spacing: 0.64px;
  text-align: left;
}
.about .about-content .expertise-block {
  width: 488px;
  height: 225px;
}
.about .about-content .expertise-block .title {
  padding: 0 0 25px;
  color: #111;
}
.about .about-content .expertise-block .expertise-description {
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  color: #666;
}

.practis {
  height: 748px;
  background-color: #111;
}
.practis .title {
  color: #fff;
}
.practis .container {
  background-color: #111;
}
.practis .container .popover:after {
  color: #fff;
}
.practis .container .popover .title-badge {
  color: #fff;
}
.practis .container .popover .description {
  color: #b9b9b9;
}
.practis .container .service-block {
  margin: 0 auto;
  width: 1007px;
  height: 355px;
  padding: 101px 0 0 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 72px;
  column-gap: 115px;
  justify-content: center;
}
.practis .container .service-block .service-grid {
  display: flex;
  width: 446px;
  height: 138px;
}
.practis .container .service-block .service-grid img {
  margin: 8px 0;
  height: 100%;
  width: auto;
}
.practis .container .service-block .service-grid .logo-service {
  width: 58px;
  height: 38px;
}
.practis .container .service-block .service-grid .logo-labour {
  width: 42px;
  height: 42px;
}
.practis .container .service-block .service-grid .logo-cyber {
  padding-left: 10px;
  width: 49px;
  height: 43px;
}
.practis .container .service-block .service-grid .logo-estate {
  width: 42px;
  height: 33px;
}
.practis .container .service-block .service-grid .services {
  margin-left: 28px;
}
.practis .container .service-block .service-grid .services .title {
  color: #fff;
}
.practis .container .service-block .service-grid .services .service-description {
  padding: 13px 0 28px;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.team {
  height: 746px;
  background-color: #fff;
}
.team .popover {
  margin-bottom: 70px;
}
.team .team-list {
  display: flex;
  justify-content: space-between;
}
.team .team-list .cover {
  width: 270px;
  height: 300px;
  margin: 0 auto 29px;
}
.team .team-list .cover img {
  width: 100%;
  height: auto;
}
.team .team-list .member-name {
  margin-bottom: 20px;
  line-height: 1.71px;
  letter-spacing: 0.84px;
  text-align: left;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  color: #111;
}
.team .team-list .member-position {
  line-height: 1.71;
  letter-spacing: 0.56px;
  font-size: 14px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #666;
}

.clients {
  height: 748px;
  background-color: #111;
}
.clients .container {
  background: url(../../img/stock_photo.png) center/cover no-repeat;
  background-color: #111;
}
.clients .container .popover:after {
  color: #fff;
}
.clients .container .popover .title-badge {
  color: #fff;
}
.clients .container .popover .description {
  color: #b9b9b9;
}
.clients .container .reviews {
  display: flex;
  margin: 73px 0;
  width: 1068px;
  height: 326px;
}
.clients .container .reviews .cover-client {
  position: relative;
  width: 370px;
  height: 306px;
  z-index: 0;
}
.clients .container .reviews .cover-client:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  bottom: -20px;
  top: 20px;
  right: -20px;
  background-color: #e8bf5d;
  z-index: -1;
}
.clients .container .reviews .cover-client img {
  width: 100%;
  height: 100%;
}
.clients .container .reviews .quote-block {
  display: block;
  margin: 22px 0 0 98px;
  width: 605px;
  opacity: 0.8;
}
.clients .container .reviews .quote-block .info-description {
  position: relative;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.clients .container .reviews .quote-block .info-description:before {
  content: "";
  position: absolute;
  left: -44px;
  width: 30px;
  height: 25px;
  transform: translateY(-15%);
  background: no-repeat center/cover url(../../img/invalid-log.png);
}
.clients .container .reviews .quote-block .autor {
  padding: 39px 0;
}
.clients .container .reviews .quote-block .autor .name-client {
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  font-family: "Playfair Display", sans-serif;
  color: #fff;
}
.clients .container .reviews .quote-block .autor .client-position {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.56px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: #fff;
}

.public {
  height: 1008px;
}
.public .popover {
  margin-bottom: 70px;
}
.public .article-block {
  width: 1171px;
  height: 634px;
  justify-content: space-between;
  display: flex;
}
.public .article-block .post-public {
  display: block;
  width: 370px;
  height: 657px;
  border-bottom: 3px solid #e8bf5d;
}
.public .article-block .post-public .cover-public {
  padding: 0 0 30px;
  width: 370px;
  height: 299px;
}
.public .article-block .post-public .cover-public img {
  width: 100%;
  height: 100%;
}
.public .article-block .post-public .title-public {
  font-size: 21px;
  line-height: 1.48;
  letter-spacing: 0.84px;
  text-align: left;
  font-family: "Playfair Display", sans-serif;
  color: #111;
}
.public .article-block .post-public .about-autor {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-family: "Open Sans", sans-serif;
  color: #111;
}
.public .article-block .post-public .about-autor .by {
  font-style: italic;
  color: #666;
}
.public .article-block .post-public .about-autor .date {
  float: right;
  font-style: italic;
  color: #666;
}
.public .article-block .post-public .public-description {
  margin: 38px 0 10px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #666;
}
.public .article-block .post-public .action-buttons {
  display: flex;
  justify-content: space-between;
  margin: 21px 0;
}
.public .article-block .post-public .action-buttons .btn-comment {
  position: relative;
  margin-left: 25px;
  border: none;
  line-height: 1.94;
  letter-spacing: 0.64px;
  text-align: right;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #111;
  cursor: pointer;
  background-color: white;
}
.public .article-block .post-public .action-buttons .btn-comment:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  top: 10px;
  transform: translateX(-150%);
  background: no-repeat center/cover url(../../img/comments-solid.svg);
}
.public .article-block .post-public .action-buttons .btn-share {
  position: relative;
  border: none;
  line-height: 1.94;
  letter-spacing: 0.64px;
  text-align: right;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #111;
  cursor: pointer;
  background-color: white;
}
.public .article-block .post-public .action-buttons .btn-share:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  transform: translateX(-150%);
  background: no-repeat center/cover url(../../img/share-solid.svg);
}

.asked {
  height: 748px;
  background-color: #111;
}
.asked .title {
  color: #fff;
}
.asked .container {
  background-color: #111;
}
.asked .container .popover:after {
  color: #fff;
}
.asked .container .popover .title-badge {
  color: #fff;
}
.asked .container .popover .description {
  color: #b9b9b9;
}
.asked .container .aside-cognitive {
  margin: 95px 0;
  width: 500px;
  height: 281px;
  border-radius: 3px;
  box-shadow: 0px 12px 40px 0 rgba(216, 178, 87, 0.32);
  background-color: #e8bf5d;
}
.asked .container .aside-cognitive .asked-description {
  padding: 46px 0 0 47px;
  width: 406px;
  height: 175px;
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: #111;
}

.contact {
  height: 1008px;
}
.contact .popover {
  margin-bottom: 70px;
}
.contact .legend {
  display: flex;
  margin-left: 151px;
  width: 870px;
  height: 490px;
  box-shadow: 0 0 50px #faf9f7;
}
.contact .legend .send-contact {
  display: block;
  width: 351px;
  height: 345px;
  margin: 55px 0 0 49px;
}
.contact .legend .send-contact .field {
  margin-bottom: 35px;
  width: 350px;
  font-size: 14px;
  font-style: italic;
  line-height: 2.21;
  letter-spacing: 0.56px;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 1px solid #b9b9b9;
  font-family: "Open Sans", sans-serif;
  color: #b9b9b9;
}
.contact .legend .send-contact textarea {
  height: 83px;
}
.contact .legend .map {
  position: relative;
  margin: 33px 0 0 70px;
  width: 387px;
  height: 385px;
}
.contact .legend .map:after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  bottom: -20px;
  top: 20px;
  right: 20px;
  background-color: #e8bf5d;
  z-index: -1;
}
.contact .legend .map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.main-footer {
  background-color: #111111;
}
.main-footer .container {
  padding: 32px 0;
}
.main-footer .container .copyright {
  display: flex;
  height: 17px;
  width: 1100px;
  justify-content: space-between;
  align-items: center;
}
.main-footer .container .copyright .copy {
  width: 156px;
  height: 17px;
  font-size: 16px;
  text-align: left;
  font-family: "Playfair Display", sans-serif;
  color: #b5b5b5;
}
.main-footer .container .copyright .copy .site {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.main-footer .container .copyright .social {
  display: flex;
  height: 17px;
  width: 118px;
  justify-content: space-between;
  color: white;
}
.main-footer .container .copyright .social .social-logo {
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=style.css.map */
