@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;500;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  height: fit-content;
  border: none;
}

body {
  margin: 0 auto 0 auto;
  counter-reset: section;
}

section {
  padding: 100px 0;
}

footer {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1170px;
}

.main-btn {
  display: block;
  padding: 19px 46px;
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.65px;
  color: #111;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #e8bf5d;
}

.popover {
  margin-bottom: 70px;
  padding-left: 19px;
  position: relative;
  height: 105px;
  width: 783px;
  border-left: 3px solid #e8bf5d;
}
.popover.popover-othe:after {
  color: #fff;
}
.popover.popover-othe .title-badge {
  color: #fff;
}
.popover.popover-othe .description {
  color: #b9b9b9;
}
.popover:after {
  counter-increment: section;
  content: "0" counter(section) " ";
  position: absolute;
  left: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 195px;
  letter-spacing: 7.8px;
  line-height: 2.2;
  opacity: 0.05;
  transform: translateY(-65%);
  color: #111;
}
.popover .title-badge {
  padding-bottom: 19px;
  font-family: "Playfair Display", sans-serif;
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: #111;
}
.popover .description {
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.9px;
  color: #666;
}

.title {
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.9px;
  font-weight: 500;
}

.main-header {
  padding: 38px 0 34px;
  background-color: #fff;
}
.main-header .wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .wrapper-header .main-logo {
  width: 168px;
  font-family: "Playfair Display", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #111;
}
.main-header .wrapper-header .main-logo span {
  color: #e8bf5d;
}
.main-header .wrapper-header .navigation {
  display: flex;
  gap: 40px;
}
.main-header .wrapper-header .navigation .nav-item {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 3;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #111;
}
.main-header .wrapper-header .navigation .nav-item:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #e8bf5d;
}

.hero {
  height: calc(100vh - 117px);
  background: linear-gradient(0deg, rgba(5, 1, 1, 0.868785014) 2%, rgba(255, 255, 255, 0) 80%), url(../../img/A.S.big.png) center/cover no-repeat;
}
.hero .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero .wrapper {
  padding: 0 40px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .wrapper .user {
  padding: 0 16px;
  border-left: 3px solid #e8bf5d;
  color: #fff;
}
.hero .wrapper .user .user-name {
  font-family: "Playfair Display", sans-serif;
  font-size: 65px;
  letter-spacing: 2.5px;
  line-height: 0.7;
}
.hero .wrapper .user .position {
  font-family: "Open Sans", sans-serif;
  font-size: 31px;
  letter-spacing: 1.24px;
  line-height: 2;
}

.about {
  background-color: #fff;
}
.about .about-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-family: "Open Sans", sans-serif;
}
.about .about-content .history-block {
  width: 55%;
}
.about .about-content .history-block .title {
  margin-bottom: 30px;
  color: #111;
}
.about .about-content .history-block .history-item {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  gap: 48px;
  color: #111;
}
.about .about-content .history-block .history-item:last-child {
  margin-bottom: 0;
}
.about .about-content .history-block .history-item .year-item {
  display: block;
  flex-shrink: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
}
.about .about-content .history-block .history-item .history-description {
  width: 430px;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.7px;
}
.about .about-content .expertise-block {
  width: 45%;
}
.about .about-content .expertise-block .title {
  margin-bottom: 25px;
  color: #111;
}
.about .about-content .expertise-block .expertise-description {
  font-size: 14px;
  line-height: 2.21;
  letter-spacing: 0.6px;
  color: #666;
}

.practis {
  background-color: #111;
}
.practis .popover {
  margin-bottom: 100px;
}
.practis .popover .title {
  color: #fff;
}
.practis .service-list {
  padding-left: 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 72px;
  column-gap: 115px;
}
.practis .service-list .service-item {
  display: flex;
  justify-content: end;
  gap: 30px;
}
.practis .service-list .service-item img {
  height: 100%;
  width: auto;
}
.practis .service-list .service-item .logo-service {
  width: 58px;
  height: 38px;
}
.practis .service-list .service-item .logo-labour {
  width: 42px;
  height: 42px;
}
.practis .service-list .service-item .logo-cyber {
  width: 55px;
  height: 43px;
}
.practis .service-list .service-item .logo-estate {
  margin: 0 auto;
  width: 42px;
  height: 33px;
}
.practis .service-list .service-item .services {
  width: 83%;
}
.practis .service-list .service-item .services .title {
  margin-bottom: 28px;
  color: #fff;
}
.practis .service-list .service-item .services .service-description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.6px;
  color: #fff;
}

.team {
  background-color: #fff;
}
.team .team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.team .team-list .member-item {
  width: 25%;
}
.team .team-list .member-item .cover {
  height: 300px;
  margin-bottom: 29px;
}
.team .team-list .member-item .cover img {
  width: auto;
  height: 100%;
}
.team .team-list .member-item .member-name {
  margin-bottom: 20px;
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.7px;
  letter-spacing: 0.85px;
  color: #111;
}
.team .team-list .member-item .member-position {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.6px;
  color: #666;
}

.clients {
  background: url(../../img/stock_photo.png) center/cover no-repeat, #111;
}
.clients .reviews {
  margin-bottom: 75px;
  display: flex;
  gap: 100px;
}
.clients .reviews .cover-client {
  position: relative;
  width: 35.5%;
  height: 305px;
  z-index: 0;
}
.clients .reviews .cover-client:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  bottom: -20px;
  top: 20px;
  right: -20px;
  background-color: #e8bf5d;
  z-index: -1;
}
.clients .reviews .cover-client img {
  width: 100%;
  height: auto;
}
.clients .reviews .quote-block {
  margin-top: 22px;
  width: 64.5%;
  opacity: 0.8;
}
.clients .reviews .quote-block .info-description {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: 0.6px;
  color: #fff;
}
.clients .reviews .quote-block .info-description:before {
  content: "";
  position: absolute;
  left: -44px;
  width: 30px;
  height: 25px;
  transform: translateY(-15%);
  background: no-repeat center/cover url(../../img/invalid-log.png);
}
.clients .reviews .quote-block .autor {
  padding: 39px 0;
}
.clients .reviews .quote-block .autor .name-client {
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: #fff;
}
.clients .reviews .quote-block .autor .client-position {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.6px;
  color: #fff;
}

.public .article-block {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.public .article-block .post-public {
  padding-bottom: 21px;
  border-bottom: 3px solid #e8bf5d;
}
.public .article-block .post-public .cover-public {
  margin-bottom: 30px;
  height: 300px;
}
.public .article-block .post-public .cover-public img {
  width: auto;
  height: 100%;
}
.public .article-block .post-public .title-public {
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  line-height: 1.5;
  letter-spacing: 0.9px;
  color: #111;
}
.public .article-block .post-public .about-autor {
  margin-bottom: 38px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.65px;
  color: #111;
}
.public .article-block .post-public .about-autor .by {
  font-style: italic;
  color: #666;
}
.public .article-block .post-public .about-autor .date {
  float: right;
  font-style: italic;
  color: #666;
}
.public .article-block .post-public .public-description {
  margin-bottom: 29px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: 0.56px;
  color: #666;
}
.public .article-block .post-public .action-buttons {
  display: flex;
  justify-content: space-between;
}
.public .article-block .post-public .action-buttons .btn-comment {
  position: relative;
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.95;
  letter-spacing: 0.7px;
  color: #111;
  cursor: pointer;
  background-color: white;
}
.public .article-block .post-public .action-buttons .btn-comment:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  top: 10px;
  transform: translateX(-150%);
  background: no-repeat center/cover url(../../img/comments-solid.svg);
}
.public .article-block .post-public .action-buttons .btn-share {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.95;
  letter-spacing: 0.7px;
  color: #111;
  cursor: pointer;
  background-color: white;
}
.public .article-block .post-public .action-buttons .btn-share:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  transform: translateX(-150%);
  background: no-repeat center/cover url(../../img/share-solid.svg);
}

.asked {
  background-color: #111;
}
.asked .title {
  color: #fff;
}
.asked .aside-cognitive {
  width: 500px;
  border-radius: 3px;
  box-shadow: 0px 12px 40px 0 rgba(216, 178, 87, 0.32);
  background-color: #e8bf5d;
}
.asked .aside-cognitive .asked-description {
  padding: 46px 47px 66px 47px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 2.2;
  letter-spacing: 0.6px;
  color: #111;
}

.contact .legend {
  display: flex;
  margin: 0 100px 0 151px;
  height: 490px;
  gap: 70px;
  box-shadow: 0 0 50px #faf9f7;
}
.contact .legend .send-contact {
  display: block;
  width: 351px;
  height: 345px;
  margin: 55px 0 0 49px;
}
.contact .legend .send-contact .field {
  margin-bottom: 35px;
  width: 350px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 2.2;
  letter-spacing: 0.6px;
  border: none;
  outline: none;
  border-bottom: 1px solid #b9b9b9;
  color: #b9b9b9;
}
.contact .legend .send-contact textarea {
  height: 83px;
}
.contact .legend .map {
  position: relative;
  margin-top: 33px;
  width: 387px;
  height: 385px;
}
.contact .legend .map:after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  bottom: -20px;
  top: 20px;
  right: 20px;
  background-color: #e8bf5d;
  z-index: -1;
}
.contact .legend .map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.main-footer {
  background-color: #111111;
}
.main-footer .copyright {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer .copyright .copy {
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  color: #b5b5b5;
}
.main-footer .copyright .copy .site {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.main-footer .copyright .social {
  display: flex;
  gap: 20px;
  color: white;
}
.main-footer .copyright .social .social-logo {
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=style.css.map */
